.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 0px 0px;
}
.item {
    border: 1px solid black;
    padding: 50px;
    text-align: center;
}
.cele {
    grid-column-start: 1;
    grid-column-end: 4;
}
