::selection {
    background-color: yellowgreen;
}
p.styl1 {
    background-color: grey; 
    font-size: 40px; 
    font-weight: bold;
}
.modra {
    color: blue; 

}
.zelena {
    color: green; 
}
.zluta {
    color: yellow;
}
.odkaz {
    background-color: rgb(0, 225, 255);
}
.odkaz:hover {
    background-color: blue;
    color: white;
}
.odkaz:active {
    background-color: red;
}
li:nth-child(3n) {
    background-color: rgb(245, 146, 146);
}
li:nth-child(3n+1) {
    background-color: rgb(126, 220, 120);
}
li:nth-child(3n+2) {
    background-color: rgb(83, 206, 255);
}
li:last-child {
    color: purple;
    font-weight: bold;
    font-size: large;
}
li:nth-child(5), li:nth-child(18), li:nth-child(19) {
    font-size: xx-small;
}
li::after {
    content: " 💛";
}

.blok {
    text-align: justify;
    border-top: 20px solid red;
    border-left: 5px dotted green;
    border-right: 10px dashed purple;
    margin: 50px;
    padding: 100px 25px 0 50px;
}
/* box-model */
