table {
    width: 100%;
    border-collapse: collapse;
    counter-reset: cislo;
}
th, td {
    padding: 8px;
    text-align: left;
}
tr:nth-child(2n) {
    background-color: rgb(255, 236, 236);
}
tr:hover:not(:first-child) {
    background-color: rgb(109, 109, 109);
    color: white;
}
th:nth-child(n+3)::after {
    counter-increment: cislo;
    content: "Kolo " counter(cislo) ": ";
}