* {
    box-sizing: border-box;
}
.flex-container {
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    counter-reset: cislovani;
}
.flex-item {
    padding: 50px;
    text-align: center;
    border: 1px solid black;
    width: 20%;
}
.flex-item::after {
    counter-increment: cislovani+5;
    content: counter(cislovani);
}
.flex-item:nth-child(even){
    background: darkgoldenrod;
}
.flex-item:nth-child(odd){
    background: rgb(230, 212, 167);
}
@media screen and (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
    .flex-item {
        width: 100%;
    }
}
