* {
    margin: 0;
    padding: 0;
}

body {
    border: 3px solid #069;
    height: 100vh; /* 100 view height */
    width: 100vw; /* 100 view width */
}

.tank {
    width: 50px;
    height: 40px;
    background: rgb(78, 110, 78);
    position: absolute;
}

.tank .delo {
    width: 40px;
    height: 10px;
    background: rgb(109, 29, 109);
    position: relative;
    top: 15px;
    left: 25px;
}